body{
    background-color: #2f3640;
}
.container1{
    background-color: #192a56;
    border-style: solid;
    border-color: black;
    height: 100%;
    width: 100%;
    margin: 25px auto;
    padding: 0.5px; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}
.item{
    background-color: #192a56;
    border: 2px;
    border-style: solid;
    border-color: #eb4d4b;
    width: 20%;
    margin: 6px;  
}
.item-container{ 
    background-color: #192a56;
    display: flex;    
    flex-direction: column; 
    margin: 9px;
    justify-content: space-evenly;
}
.i1{
    background-color: #576574;
    border: 0cm;
    
    display: flex;    
    flex-direction: column; 
}
.i2{
    background-color: #576574;   
    border: 0cm;
    
    display: flex;    
    flex-direction: column; 
}
.i3{
    background-color: #576574;
    border: 0cm;
    
    display: flex;    
    flex-direction: column; 
}
.foto1{
    background-color: #576574;
    height: 100%;
    width: 100%;
}
.foto2{    
    background-color: #576574;
    height: 100%;
    width: 100%;
}
.foto3{    
    background-color: #576574;
    height: 100%;
    width: 100%;
}
.foto4{
    background-color: #576574;
    height: 100%;
    width: 100%;
}