body{
    background-color: #2f3640;
}
.container{
    background-color: #192a56;
    border-style: solid;
    border-color: black;    
    margin: 30px auto;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}
.item{
    background-color: #192a56;
    border: 2px;
    border-style: solid;
    border-color: #eb4d4b;
    margin: 6px; 
    width: 20%;
}

.i0{
    background-color: #0984e3;
    border: 0cm;
    margin: 8px;
}
.i1{
    background-color: #74b9ff;
    border: 0cm;
    margin: 8px;
}
.i2{
    background-color: #74b9ff;
    border: 0cm;
    margin: 8px;
}
.i3{   
    background-color: #74b9ff;
    border: 0cm;
    margin: 8px;
}

#foto1{  
    height: 100%;
    width: 100%;
}
#foto2{  
    height: 100%;
    width: 100%;
}
#foto3{    
    height: 100%;
    width: 100%;
}
#foto4{
    height: 100%;
    width: 100%;
}