body{
    background-color: #2f3640;
}

.container-superior{
    background-color: #192a56;
    border-style: solid;
    border-color: black;    
    margin: 30px;

    height: 400px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}
.container-inferior{
    background-color: #192a56;
    border-style: solid;
    border-color: black;    
    margin: 30px;

    height: 400px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
}
.item-superior1{
    background-color: red;
    width: 110px;    
    height: 210px;
    align-self: flex-end;
    font-size: 20px;
    text-align: center;    
}
.item-superior2{
    background-color: green;
    width: 110px;
    height: 210px;
    align-self: flex-start;
    font-size: 20px;
    text-align: center;
}
.item-superior3{
    background-color: yellow;
    width: 110px;
    height: 210px;
    align-self: center;
    font-size: 20px;
    text-align: center;
}
.item-inferior1{
    margin: 2px;
    border-color: red;
    border-style: solid;
}
.item-inferior2{
    margin: 2px;
    border-color: red;
    border-style: solid;
}
.item-inferior3{
    margin: 2px;
    border-color: red;
    border-style: solid;
}